<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Bookwallah | Chat Room</title>
  {% load static %}
     {% load customfilters %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>

  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="{% url 'profile' %}" class="logo" style="margin-top:5px;"><img src="{% static 'img/logo.png' %}" alt="BookWallah"/></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'signout' %}">Sign Out</a></li>
        </ul>
      </div>

    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
     <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="{% url 'profile' %}"><img src="{{image}}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'main_dashboard' %}">Main Dashboard</a></li>
              <li ><a href="{% url 'proj_dashboard' %}">Project Dashboard</a></li>
              <li><a href="{% url 'vol_dashboard' %}">Volunteer Dashboard</a></li>
                <li ><a href="{% url 'donor_dashboard' %}">Donor Dashboard</a></li>
                <li><a href="{% url 'child_dashboard' %}">Child Dashboard</a></li>
              <li><a href="{% url 'rec_dashboard' %}">Recruitment Dashboard</a></li>
            </ul>
          </li>
            {% if user.is_authenticated %}
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-book"></i>
              <span>My Account</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'calender' %}">Calender</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-comments-o"></i>
              <span>Chat Room</span>
              </a>
            <ul class="sub">
              <li class="active"><a href="{% url 'lobby' %}">Lobby</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-picture-o"></i>
              <span>Gallery</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'session_gallery' %}">Session</a></li>
              <li><a href="{% url 'project_gallery' %}">Project</a></li>
              <li><a href="{% url 'donor_gallery' %}">Donor</a></li>
              <li><a href="{% url 'kid_gallery' %}">Kid</a></li>
            </ul>
          </li>

            {% else %}
            <li class="mt">
            <a href="{% url 'signin' %}">
              <i class="fa fa-book"></i>
              <span>Sign In</span>
              </a>
            </ul>
          </li>
            {% endif %}
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
          <aside class="mid-side">
            <div class="chat-room-head">
              <h3>Lobby Room</h3>
            </div>
              <div class="room-desk">
              <h4 class="pull-left">Project room</h4>
                {% for room in rooms %}
              <div class="room-box">
                <h5 class="text-primary"><a href="{{room.name}}">{{room.name|replace:"_"}}</a></h5>
                <p>{{room.description}}</p>
                <p><span class="text-muted">Admin :</span> {{room.admin.first_name}} {{room.admin.last_name}} | <span class="text-muted">Members :</span> {{ room|members:"Private" }} | <span class="text-muted">Last Activity :</span> {{room|last_activity}}</p>
              </div>
                {% endfor %}
            </div>
            <div class="room-desk">
              <h4 class="pull-left">Open Room</h4>

                {% if open_rooms %}
                {% for room in open_rooms %}
              <div class="room-box">
                <h5 class="text-primary"><a href="{{room.name}}">{{room.name|replace:"_"}}</a></h5>
                <p>{{room.description}}</p>
                <p><span class="text-muted">Admin :</span> {{room.admin.first_name}} {{room.admin.last_name}} | <span class="text-muted">Members :</span> {{ room|members:"Open"}} | <span class="text-muted">Last Activity :</span> {{room|last_activity}}</p>
              </div>
                {% endfor %}
                {% else %}
                <div class="room-box"><p>You do not have access to any other Open Chat room.</p></div>
                {% endif %}
            </div>
            <div class="room-desk">
              <h4 class="pull-left">private room</h4>
                {% if private_rooms %}
              {% for room in private_rooms %}
              <div class="room-box">
                <h5 class="text-primary"><a href="{{room.name}}">{{room.name|replace:"_"}}</a></h5>
                <p>{{room.description}}</p>
                <p><span class="text-muted">Admin :</span> {{room.admin.first_name}} {{room.admin.last_name}} | <span class="text-muted">Members :</span> {{room|members:"Private" }} | <span class="text-muted">Last Activity :</span> {{room|last_activity}}</p>
              </div>
                {% endfor %}
                {% else %}
                <div class="room-box"><p>You do not have access to any other Private Chat room.</p></div>
                {% endif %}

            </div>

          </aside>
          <aside class="right-side">
            <div class="user-head">
            </div>
            <div class="invite-row">
              <h4 class="pull-left">Online Members</h4>
            </div>
            <ul class="chat-available-user">
                {% for user in o_users %}
              <li>
                  <img class="img-circle" src="{% get_media_prefix %}{{user.image}}" width="32">
                    <span style="margin-left:15px">{{user.user.first_name}} {{user.user.last_name}}</span>
                    <i style="margin-left:10px; color:#32CD32;" class="fa fa-circle"></i>
              </li>
                {% endfor %}
            </ul>
          </aside>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <!--script for this page-->

</body>

</html>
