<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
 <title>Bookwallah | Dashboard</title>
    {% load static %}
  {% load customfilters %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/to-do.css' %}">

    <script src="{% static 'lib/chart-master/Chart.js' %}"></script>
  <script src="{% static 'lib/chart-master/chartjs-plugin-datalabels.js' %}"></script>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-timepicker/css/timepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}">
    <link href="{% static 'css/table-responsive.css' %}" rel="stylesheet">


  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body onload="getTime()">
{% block body %}
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="{% url 'profile' %}" class="logo" style="margin-top:5px;"><img src="{% static 'img/logo.png' %}" alt="BookWallah"/></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'signout' %}">Sign Out</a></li>
        </ul>
      </div>
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav pull-right top-menu">
          <!-- settings start -->
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">0</span>
              </a>
            <ul class="dropdown-menu extended notification">

            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
        <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="{% url 'profile' %}"><img src="{{image}}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
          <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'main_dashboard' %}">Main Dashboard</a></li>
              <li ><a href="{% url 'proj_dashboard' %}">Project Dashboard</a></li>
              <li><a href="{% url 'vol_dashboard' %}">Volunteer Dashboard</a></li>
                <li  class="active"><a href="{% url 'donor_dashboard' %}">Donor Dashboard</a></li>
                <li><a href="{% url 'child_dashboard' %}">Child Dashboard</a></li>
              <li><a href="{% url 'rec_dashboard' %}">Recruitment Dashboard</a></li>
            </ul>
          </li>
            {% if user.is_authenticated %}
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-book"></i>
              <span>My Account</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'calender' %}">Calender</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-comments-o"></i>
              <span>Chat Room</span>
              </a>
            <ul class="sub">
              <li><a href="{% url 'lobby' %}">Lobby</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-picture-o"></i>
              <span>Gallery</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'session_gallery' %}">Session</a></li>
              <li><a href="{% url 'project_gallery' %}">Project</a></li>
              <li><a href="{% url 'donor_gallery' %}">Donor</a></li>
              <li><a href="{% url 'kid_gallery' %}">Kid</a></li>
            </ul>
          </li>

            {% else %}
            <li class="mt">
            <a href="{% url 'signin' %}">
              <i class="fa fa-book"></i>
              <span>Sign In</span>
              </a>
            </ul>
          </li>
            {% endif %}
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
              <div class="row">
                  <div class="col-md-5 col-sm-5" >
            <div class="border-head">
              <h3>DONOR DETAILS</h3>
            </div>
                  </div>
                      <div class="col-md-6 col-sm-6 goright" >
            <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" data-url='{{ request.build_absolute_uri|safe }}'>
                <div class="row form-group">
                    <div class="col-md-6 col-sm-6 " >
                        <select id="field" name="field"  class="form-control" style="text-align:center; padding: .375rem .75rem;">
                            <option value="0">Filter by...</option>
                            <option value="1">All</option>
                            <option value="2">Year</option>
                        </select>
                    </div>
                        <div class="col-md-6 col-sm-6 " >
                        <select id="value" name="value"  class="form-control" style="text-align:center; padding: .375rem .75rem;">
                        </select>
                        </div>
                </div>
              </form>
                  </div>
                  </div>
            <div class="row">
              <div class="col-md-6 mb">
                <div class="blue-panel pn" style="height:100%;" >
              <div id="graph" >
                  <canvas id="barchart" height="400" width="550" style="margin:0 auto;margin-left:10px;"></canvas>
              </div>
                </div>
                </div>
               <div class="col-md-6 mb">
                 <div class="blue-panel pn" style="height:100%;" >
                <div id="graph3">
                  <canvas id="barchart2" height="400" width="550" style="margin:0 auto;margin-left:10px;"></canvas>
              </div>
                 </div>
              </div>
            </div>
              <div class="row">
              <div class="col-md-6 mb w1">
                <!-- WHITE PANEL - TOP USER -->
                <div class="blue-panel pn" style="height:100%;" >
                  <div class="blue-header" style="margin-bottom:0px;">
                    <h5>NATIONALITY</h5>
                  </div>
                    <div class="panel-body" >
                      <div id="graph1">
                        <canvas id="hero-donut2" height="250" width="450" style="margin:0 auto;"></canvas>
                        </div>
                </div>
                </div>
              </div>
                <div class="col-md-6 col-sm-6 mb w2" hidden>
                <div class="blue-panel pn" style="height:350px;">
                  <div class="blue-header" >
                    <h5>TOTAL LIFETIME DONATION</h5>
                  </div>
                  <img height="200" width="300" src="{% static 'img/kid.png' %}">
                  <footer>
                    <div class="centered">
                        <h3 style="font-size:32px;"><i class="fa fa-dollar"></i> <span id="t_d"></span></h3>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
                <div class="col-md-6 col-sm-6 mb w2" hidden>
                <div class="blue-panel pn" style="height:350px; ">
                  <div class="blue-header" >
                    <h5>NOTES</h5>
                  </div>
                  <footer style="display: inline-block;">
                    <div class="centered" style="display: inline-block;vertical-align: middle;">
                        <h3 style="font-size:24px;"><i id="note"></i></h3>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
                <div class="col-md-6 mb w1">
                <!-- WHITE PANEL - TOP USER -->
                <div class="blue-panel pn" style="height:100%;">
                  <div class="blue-header" style="margin-bottom:0px;">
                    <h5>COUNTRY OF RESIDENCE</h5>
                  </div>
                    <div class="panel-body" >
                      <div id="graph2">
                   <canvas id="hero-donut3" height="250" width="450" style="margin:0 auto;"></canvas>
                        </div>
                </div>
                </div>
              </div>

            </div>
            <div class="row w2" hidden>
          <div class="col-sm-6" >
            <section class="blue-panel" style="height:310px;">
              <header class="blue-header">
                TASK ASSIGNMENT
              </header>
              <section class=" tasks-widget">
                <form role="form" id="task-creation-form" class="form-horizontal" method="POST" enctype="multipart/form-data" data-url='{{ request.build_absolute_uri|safe }}'>
                <div class="task-content" style="margin-bottom:0px;">
                  <ul class="task-list">
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Owner:</label>
                            <div class="col-lg-7" >
                               <input id="volunteer" type="text" placeholder=" " name="volunteer" class="form-control" value="" style="background-color:#ffffff;" autocomplete="off">
                              <input type="text" placeholder=" " name="type" class="form-control" value="Donor" style="display:none;">
                              <ul id="toggle-vol-menu" class="dropdown-menu search-form-menu" role="menu" style="margin-left:85px;width: 90%;" >
                              </ul>

                            </div>
                          </div>
                    </li>
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Task:</label>
                            <div class="col-lg-7" >
                               <input id="task-field" type="text" placeholder=" " name="task" class="form-control" value="" style="background-color:#ffffff;" autocomplete="off">
                            </div>
                          </div>
                    </li>
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Due DateTime:</label>
                            <div class="col-lg-4">
                              <input type="date" placeholder=" " name="duedate" class="form-control" value="">
                            </div>
                          <div class="input-group bootstrap-timepicker col-lg-4" >
                      <input type="text" name="time" class="form-control timepicker-default"  >
                      <span class="input-group-btn" >
                        <button class="btn btn-theme04" type="button" style="margin-left:70px;"><i class="fa fa-clock-o"></i></button>
                        </span>
                    </div>
                          </div>
                    </li>
                  </ul>
                </div>
                <div class=" add-task-row" style="margin-right:7px;">
                  <button id="task-creation-form-btn" class="btn btn-success btn-sm pull-right"  type="submit">Confirm</button>
                </div>
                </form>
            </section>
            </section>
          </div>
              <div class="col-sm-6" >
            <section class="blue-panel" style="height:310px;">
              <header class="blue-header">
                ASSIGNED TASKS
              </header>
              <table class="table table-striped table-advance table-hover">
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i> Due Date</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Task</th>
                    <th><i class="fa fa-bookmark"></i> Assigned To</th>
                    <th><i class=" fa fa-edit"></i> Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="modal-body">
                <tr><td id="date0">2020-07-24</td><td id="task_name0">Host an event</td><td id="assigned_to0">Anjali</td><td id="status0"><span class="label label-info label-mini">Done</span></td><td><button class="btn btn-success btn-xs approve-btn" value="0"><i class="fa fa-check"></i></button></td></tr><tr><td id="date1">2020-08-26</td><td id="task_name1">Complete this</td><td id="assigned_to1">Tokyo</td><td id="status1"><span class="label label-warning label-mini">Pending</span></td><td><button class="btn btn-success btn-xs approve-btn" value="1"><i class="fa fa-check"></i></button></td></tr></tbody>
              </table>
            </section>
          </div>
              </div>
              <div class="row mt">
          <div class="col-sm-12" >
            <section class="blue-panel">
              <header class="blue-header">
                LOCATION OF DONORS
              </header>
              <div class="panel-body">
                  <div id="controls-tabs"></div>
                  <div id="info"></div>
                <div id="gmap-list"></div>
              </div>
            </section>
          </div>
              </div>
              </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->
          <div class="col-lg-3 ds">
            <!--COMPLETED ACTIONS DONUTS CHART-->
               <form role="form" id="filter" class="form-horizontal" method="POST" enctype="multipart/form-data" data-url='{{ request.build_absolute_uri|safe }}'>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Donor:</label>
                    <div class="col-lg-7" >
                        <input id="search" type="text" placeholder="Filter using name.." name="volunteer" class="form-control" value="" style="background-color:#ffffff;" autocomplete="off">
                        <ul id="toggle-menu" class="dropdown-menu search-menu" role="menu" style="margin-left:85px;width: 90%;" >
                        </ul>
                    </div>
                </div>
              </form>
            <!-- RECENT ACTIVITIES SECTION -->
            <!-- USERS ONLINE SECTION -->
              <div id="av"></div>
            <div id="stage" style="text-align:center;"></div>
            <div id="social" class="centered w2" style="padding:10px;" hidden>
            </div>
                <div id="details">

                </div>
            <div id="messages" class="blue-panel pn mb mt w2" style="height:100%;" hidden>
                <div class="blue-header" style="margin-bottom:0px;padding:1px;">
                <h5 id="rc" style="color:#34495e;">RECENT COMMUNICATION</h5>
                  </div>

              <div style="overflow:auto; height:220px;">
            <!-- First Member -->
                <table class="table table-bordered table-condensed">
                  <tbody id="mail_list">
                  </tbody>
                </table>
              </div>
            </div>
              <div id="d_history" class="blue-panel pn mb mt" style="height:100%;" hidden>
                <div class="blue-header" style="margin-bottom:0px;padding:1px;">
                <h5 style="color:#34495e;">DONATION HISTORY</h5>
                  </div>
              <div style=" overflow:auto; height:220px;">
            <!-- First Member -->
                <table class="table table-bordered table-condensed">
                    <thead class="blue-header" >
                        <tr >
                            <th style="text-align:center;color:#34495e;">Date</th>
                            <th style="text-align:center;color:#34495e;">Donations</th>
                        </tr>
                    </thead>
                    <tbody id="dh">

                    </tbody>
                </table>
                      </div>
              </div>
            <div id="d_task" class="blue-panel pn mb w2" style="height:100%;" hidden>
                <div class="blue-header" style="margin-bottom:0px;padding:1px;">
                <h5 style="color:#34495e;">GIFTS IN KIND</h5>
                  </div>
              <div style="overflow:auto; height:220px;">
            <!-- First Member -->
                <table class="table table-bordered table-condensed">
                    <thead class="blue-header" >
                        <tr >
                            <th style="text-align:center;color:#34495e;">ITEM</th>
                            <th style="text-align:center;color:#34495e;">VALUE</th>
                        </tr>
                    </thead>
                    <tbody id="gh">

                    </tbody>
                </table>
                      </div>
              </div>

              <div class="blue-panel pn mb w1" id="task" style="height:100%;">
                  <div class="blue-header" style="margin-bottom:0px;">
                <h5>UPCOMING TASKS</h5>
                  </div>
                      <div style="overflow:auto; height:300px;">
                          {% for i in up_tasks %}
            <div class="desc" >
              <div class="details" style="width:100%;">
                <div class="thumb">
                <img class="img-circle" src="{% get_media_prefix %}{{i.assigned_for.image}}" width="35px" height="35px" align="">
              </div>
                <h5><span class="pull-left">{{i.assigned_for.first_name}} {{i.assigned_for.last_name}} </span></h5>
                <h5 style="margin:0px;"><span class="pull-right"><span style="font-size:16px;">To:</span> {{i.user.user.first_name}} {{i.user.user.last_name}} </span></h5><br>
                <h5 style="margin:0px;"><span class="pull-right"><span style="font-size:16px;">By:</span> {{i.assigned_by.user.first_name}} {{i.assigned_by.user.last_name}} </span></h5>

              </div>
              <h4 class="pull-left" style="margin:0px;"><span style="font-size:16px;">Task:</span> {{i.task}}</h4>
              <small class="pull-right">{{i.date|date:"j M"}}</small>
            </div>
                {% endfor %}

                  </div>
                  </div>
            <!-- First Member -->

            <!-- CALENDAR-->
            <div class="blue-panel pn mb w1" id="pledge" style="height:100%;">
                  <div class="blue-header" style="margin-bottom:0px;">
                <h5>UPCOMING PLEDGES</h5>
                  </div>
                      <div style="overflow:auto; height:300px;">
                          {% for i in up_pledge %}
            <div class="desc" >
              <div class="details" style="width:100%;">
                <div class="thumb">
                <img class="img-circle" src="{% get_media_prefix %}{{i.donor.image}}" width="35px" height="35px" align="">
              </div>
                <h5><span class="pull-left">{{i.donor.first_name}} {{i.donor.last_name}} </span></h5>
                <small class="pull-right">{{i.date|date:"j M"}}</small>
              </div>
              <h4 style="margin:0px;" class="pull-left"><span style="font-size:16px;">Pledge:</span> {{i.pledge}}</h4>
              <h4 style="margin:0px;" class="pull-right"><span style="font-size:16px;">Amount:</span> {{i.amount}}</h4>

            </div>
                {% endfor %}

                  </div>
                  </div>
            <div class="blue-panel mb w1" style="height:100%">
              <div class="blue-header">
                <h5>ADD PLEDGE</h5>
              </div>
              <section class=" tasks-widget ">
                <form role="form" id="addpledge" class="form-horizontal" method="POST" enctype="multipart/form-data" data-url='{{ request.build_absolute_uri|safe }}'>
                <div class="task-content" style="margin-bottom:0px;">
                  <ul class="task-list">
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Donor:</label>
                            <div class="col-lg-7" >
                               <input id="donor1" type="text" placeholder=" " name="donor" class="form-control" value="" style="background-color:#ffffff;" autocomplete="off">
                              <ul id="toggle-don1-menu" class="dropdown-menu search-form-menu" role="menu" style="margin-left:85px;width: 90%;" >
                              </ul>

                            </div>
                          </div>
                    </li>
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Pledge:</label>
                            <div class="col-lg-7" >
                               <input id="pledge-field" type="text" placeholder=" " name="pledge" class="form-control" value="" style="background-color:#ffffff;" autocomplete="off">
                            </div>
                          </div>
                    </li>
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Amount:</label>
                            <div class="col-lg-7" >
                               <input id="amt" type="text" placeholder=" " name="amount" class="form-control" value="" style="background-color:#ffffff;" autocomplete="off">
                            </div>
                          </div>
                    </li>
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Date:</label>
                            <div class="col-lg-7">
                              <input type="date" placeholder=" " name="date" class="form-control" value="">
                            </div>
                          </div>
                    </li>
                  </ul>
                </div>
                <div class=" add-task-row" style="margin-right:7px;margin-bottom:50px;">
                  <button id="pledge-creation-form-btn" class="btn btn-success btn-sm pull-right"  type="submit">Confirm</button>
                </div>
                </form>
            </section>
            </div>
            <div class="blue-panel w1 mt" style="height:100%;">
              <div class="blue-header">
                <h5>ADD GIFT</h5>
              </div>
              <section class=" tasks-widget">
                <form role="form" id="gift-creation-form" class="form-horizontal" method="POST" enctype="multipart/form-data" data-url='{{ request.build_absolute_uri|safe }}'>
                <div class="task-content" style="margin-bottom:0px;">
                  <ul class="task-list">
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Donor:</label>
                            <div class="col-lg-7" >
                               <input id="donor2" type="text" placeholder=" " name="donor" class="form-control" value="" style="background-color:#ffffff;" autocomplete="off">
                              <ul id="toggle-don2-menu" class="dropdown-menu search-form-menu" role="menu" style="margin-left:85px;width: 90%;" >
                              </ul>

                            </div>
                          </div>
                    </li>
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Gift:</label>
                            <div class="col-lg-7" >
                               <input id="gift-field" type="text" placeholder=" " name="gift" class="form-control" value="" style="background-color:#ffffff;" autocomplete="off">
                            </div>
                          </div>
                    </li>
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Value:</label>
                            <div class="col-lg-7" >
                               <input id="gift-value" type="text" placeholder=" " name="gift_value" class="form-control" value="" style="background-color:#ffffff;" autocomplete="off">
                            </div>
                          </div>
                    </li>
                    <li>
                      <div class="form-group">
                            <label class="col-lg-2 control-label">Date:</label>
                            <div class="col-lg-7">
                              <input type="date" placeholder=" " name="date" class="form-control" value="">
                            </div>
                          </div>
                    </li>
                  </ul>
                </div>
                <div class=" add-task-row" style="margin-right:7px;">
                  <button id="gift-creation-form-btn" class="btn btn-success btn-sm pull-right"  type="submit">Confirm</button>
                </div>
                </form>
            </section>
            </div>
            <!-- / calendar -->
          </div>
          <!-- /col-lg-3 -->
        </div>

        <!-- /row -->
      </section>
    </section>
    <!--main content end-->
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
   <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!--common script for all pages-->
     <script src="{% static 'lib/common-scripts.js' %}"></script>
  <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
  <script src="{% static 'lib/sparkline-chart.js' %}"></script>
    <script src="{% static 'lib/raphael/raphael.min.js' %}"></script>
 <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
<script src="{% static 'lib/morris/morris.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/jquery.backstretch.min.js' %}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
  <script src="{% static 'lib/google-maps/maplace.js' %}"></script>
  <script src="{% static 'lib/google-maps/data/points.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-timepicker/js/bootstrap-timepicker.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
     $.ajax({
        url: "{% url 'd_location' %}",
        }).done(function( data) {
            var loc = data;
    var map_obj = new Maplace({
      locations: loc,
      map_div: '#gmap-list',
      controls_div: '#controls-tabs',
      controls_type: 'dropdown',
      controls_on_map: false,
      view_all: true,
      show_infowindow: false,
      start: 1,
    }).Load();
    var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to BookWallah!',
        // (string | mandatory) the text inside the notification
        text: 'Have a Good Day!!',
        // (string | optional) the image to display on the left
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
        });



    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {

       Morris.Donut({
        element: 'hero-donut2',
        data: [
        {% for r in d_nat %}
          {label: '{{r.nationality}}', value: '{{r.count}}' },
          {% endfor %}
        ],
          colors: ['#3498db', '#2980b9', '#34495e'],
        formatter: function (y) { return y }
      });
       Morris.Donut({
        element: 'hero-donut3',
        data: [
          {% for c in d_con %}
          {label: '{{c.country}}', value: '{{c.count}}' },
          {% endfor %}
        ],
          colors: ['#3498db', '#2980b9', '#34495e'],
        formatter: function (y) { return y}
      });

      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to BookWallah!',
        // (string | mandatory) the text inside the notification
        text: 'Have a Good Day!!',
        // (string | optional) the image to display on the left
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
<script>

function setvolValue(e){
    $val = e.target.text;
     $('#toggle-vol-menu').hide();
    $('#volunteer').val($val);

    }
    $('#volunteer').on('input', function(e) {
    $('.menu-list').remove();
    $('.check-box').remove();
    $query = e.target.value;
        $.ajax({
        type:'POST',
        url: "{% url 'donor_dashboard' %}",
        data: { v_input: $query },
        success: function(resp){
        $('.menu-list').remove();
        $vol = resp.volunteer;
            for (i=0;i<$vol.length;i++){
            $('#toggle-vol-menu').append('<li><a onclick="setvolValue(event)" class="menu-list">'+$vol[i]+'</a></li>')
            };
            $('#toggle-vol-menu').show();

        },
    });
    });

</script>
<script>

$(document).ready(function() {
  $('.timepicker-default').timepicker();
    $('#task-creation-form').on('submit',function(e) {
    e.preventDefault();
    msg = '';
    var $myForm = $('#task-creation-form');
    var $formData = $(this).serialize();
    var $thisURL = $myForm.attr('data-url') || window.location.href;
    $.ajax({
        type:'POST',
        url:$thisURL,
        data: $formData,
        success: formSuccess3
    });
    });
    function formSuccess3(data){
    $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Notification!',
        // (string | mandatory) the text inside the notification
        text: 'Task assigned successfully.',
        // (string | optional) the image to display on the left
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
      });
      }

      });
</script>
<script>

$(document).ready(function() {
    $('#addpledge').on('submit',function(e) {
    e.preventDefault();
    msg = '';
    var $myForm = $('#addpledge');
    var $formData = $(this).serialize();
    var $thisURL = $myForm.attr('data-url') || window.location.href;
    $.ajax({
        type:'POST',
        url:$thisURL,
        data: $formData,
        success: formSuccess4
    });
    });
    function formSuccess4(data){
    $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Notification!',
        // (string | mandatory) the text inside the notification
        text: 'Pledge added successfully.',
        // (string | optional) the image to display on the left
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
      });
      }

      });
</script>
<script>

$(document).ready(function() {
    $('#gift-creation-form').on('submit',function(e) {
    e.preventDefault();
    msg = '';
    var $myForm = $('#gift-creation-form');
    var $formData = $(this).serialize();
    var $thisURL = $myForm.attr('data-url') || window.location.href;
    $.ajax({
        type:'POST',
        url:$thisURL,
        data: $formData,
        success: formSuccess5
    });
    });
    function formSuccess5(data){
    $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Notification!',
        // (string | mandatory) the text inside the notification
        text: 'Gift added successfully.',
        // (string | optional) the image to display on the left
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
      });
      }

      });
</script>
  <script type="application/javascript">
    function getTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      // add a zero in front of numbers<10
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('showtime').innerHTML = h + ":" + m + ":" + s;
      t = setTimeout(function() {
        getTime()
      }, 500);
    }

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
  </script>
<script>

    function setValue(e){
    $val = e.target.text;
        $('#toggle-menu').hide();
        $('#search').val($val);
        $value = $("#value option:selected").text();
        $.ajax({
        type:'POST',
        url: "{% url 'donor_dashboard' %}",
        data: { value: $val,year: $value },
        success: function(resp){
        $('.donor').remove();
        $('#barchart').remove();
        $('.w1').hide();
        $('#t_d').text(resp.new_data.total_don);
        $('.w2').show();
        $data = JSON.parse(resp.data);
        var month_list = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
        $('#barchart').remove();
        $('#graph').append('<canvas id="barchart" height="400" width="550" style="margin:0 auto;margin-left:10px;"></canvas>');
        chart(resp.new_data.m_don,"rgba(18,176,226,0.7)",month_list,"Amount of Donation",[true,"Donations (by Year "+resp.new_data.d_year+")"],'bar','barchart');
        $('#barchart2').remove();
        $('#graph3').append('<canvas id="barchart2" height="400" width="550" style="margin:0 auto;margin-left:10px;"></canvas>');
        chart(resp.new_data.d_list,"rgba(18,176,226,0.7)",resp.new_data.dy_list,"Amount of Donation",[true,"Donations (by Year)"],'bar','barchart2');
        $('#av').append('<div class="profile-pic centered donor" ><p><img src="/media/'+$data[0].fields.image+'" class="img-circle"></p></div>');
        $('#details').append('<div class="row donor"><div class="col-sm-4" style="color:rgba(47, 50, 58, 0.8);">Full Name:</div><div class="col-sm-8 text-right" style="color:#34495e;">'+resp.fname+'</div></div>');
        Object.entries($data[0].fields).forEach(function([key, value]){
            if (key === 'stage'){
            $('#stage').append('<h3 class="donor" style="color:#34495e;">Donor Stage</h3><div class="btn-group donor"><button type="button" class="btn btn-theme03">'+value+'</button></div>');
            }
            else if (key === 'zoom' ) {
            if (value !== null && value !== ''){
            $('#social').append('<a href="'+value+'"  target="_blank"><i class="fa fa-video-camera" style="font-size:24px;padding:0 5px;"></i></a>')
            }
            }
            else if (key === 'skype' ) {
            if (value !== null && value !== ''){
            $('#social').append('<a href="'+value+'"  target="_blank"><i class="fa fa-skype" style="font-size:24px;padding:0 5px;"></i></a>')
            }
            }
            else if (key === 'linkedin' ) {
             if (value !== null && value !== ''){
            $('#social').append('<a href="'+value+'"  target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px;padding:0 5px;"></i></a>')
            }
            }
            else if (key === 'facebook' ) {
             if (value !== null && value !== ''){
             $('#social').append('<a href="'+value+'"  target="_blank"><i class="fa fa-facebook" style="font-size:24px;padding:0 5px;"></i></a>')
            }
            }
            else if (key === 'instagram' ) {
             if (value !== null && value !== ''){
             $('#social').append('<a href="'+value+'"  target="_blank"><i class="fa fa-instagram" style= "font-size:24px;padding:0 5px;"></i></a>')
            }
            }
            else if (key === 'twitter' ) {
             if (value !== null && value !== ''){
             $('#social').append('<a href="'+value+'"  target="_blank"><i class="fa fa-twitter" style="font-size:24px;padding:0 5px;"></i></a>')
            }
            }
            else if (key === 'note'){
            $('#note').text(value);
            }
            else if (key !== 'image' && key !== 'next_task' && key !== 'next_task_date'){
            $('#details').append('<div class="row donor" ><div class="col-sm-5 text-capitalize key" style="color:rgba(47, 50, 58, 0.8);">'+key.replaceAll(/_/g," ")+':</div><div class="col-sm-7 text-right value"  style="color:#34495e;">'+value+'</div></div>');
            }

        });
         Object.entries(resp.donation).forEach(function([key, value]){
        $('#dh').append('<tr class="dn donor" style="height:100%;rgba(47, 50, 58, 0.8);"><td >'+key+'</td><td >'+value+'</td></tr>');
        });
        Object.entries(resp.gik).forEach(function([key, value]){
        $('#gh').append('<tr class="dn donor" style="height:100%;rgba(47, 50, 58, 0.8);"><td >'+key+'</td><td >'+value+'</td></tr>');
        });
        $('#d_history').show();
        $.ajax({
        url: "{% url 'donor_dashboard' %}",
        data: {value: $val}
        }).done(function( data) {
          $emails = JSON.parse(data.e_history);

        for (i=0;i<$emails.length;i++){
          $('#mail_list').append('<tr><td class="emails" style="display: block; width: 100%;text-align: left;" data-toggle="collapse" data-target="#'+i+'"><h4 class="ws">From: '+$emails[i]["From"]+'</h4><h4 class="ws">To: '+$emails[i]["To"]+'</h4><h4 class="ws">Date: '+$emails[i]["Date"]+'</h4><h4 class="ws">Subject: '+$emails[i]["Subject"]+'</h4><div id="'+i+'" style="background-color:rgba(18, 176, 226, 0.3);padding:2px 5px;" class="collapse">'+$emails[i]["Body"]+'</div></td></tr>');
        }
        });

        }

        });
    }
    $('#search').on('input', function(e) {
    $('.menu-list').remove();
    $('.check-box').remove();
    $query = e.target.value;
        $.ajax({
        type:'POST',
        url: "{% url 'donor_dashboard' %}",
        data: { input: $query },
        success: function(resp){
        $('.menu-list').remove();
        $vol = resp.donor;
            for (i=0;i<$vol.length;i++){
            $('.search-menu').append('<li><a onclick="setValue(event)" class="menu-list">'+$vol[i]+'</a></li>')
            };
            $('#toggle-menu').show();

        },
    });
    });
</script>
<script>
function setdon1Value(e){
        $val = e.target.text;

        $('#toggle-don1-menu').hide();
        $('#donor1').val($val);
  }
  $('#donor1').on('input', function(e) {
    $('.menu-list').remove();
    $('.check-box').remove();
    $query = e.target.value;
        $.ajax({
        type:'POST',
        url: "{% url 'donor_dashboard' %}",
        data: { input: $query },
        success: function(resp){
        $('.menu-list').remove();
        $vol = resp.donor;
            for (i=0;i<$vol.length;i++){
            $('#toggle-don1-menu').append('<li><a onclick="setdon1Value(event)" class="menu-list">'+$vol[i]+'</a></li>')
            };
            $('#toggle-don1-menu').show();

        },
    });
    });
</script>
<script>
function setdon2Value(e){
    $val = e.target.text;
        $('#toggle-don2-menu').hide();
        $('#donor2').val($val);
  }
  $('#donor2').on('input', function(e) {
    $('.menu-list').remove();
    $('.check-box').remove();
    $query = e.target.value;
        $.ajax({
        type:'POST',
        url: "{% url 'donor_dashboard' %}",
        data: { input: $query },
        success: function(resp){
        $('.menu-list').remove();
        $vol = resp.donor;
            for (i=0;i<$vol.length;i++){
            $('#toggle-don2-menu').append('<li><a onclick="setdon2Value(event)" class="menu-list">'+$vol[i]+'</a></li>')
            };
            $('#toggle-don2-menu').show();

        },
    });
    });
</script>
  <script>
    $(document).ready(function(){
    function interpolateColor(color1, color2, factor) {
    if (arguments.length < 3) {
        factor = 0.5;
    }
    var result = color1.slice();
    for (var i = 0; i < 3; i++) {
        result[i] = Math.round(result[i] + factor * (color2[i] - color1[i]));
    }
    return result;
};
// My function to interpolate between two colors completely, returning an array
function interpolateColors(color1, color2, steps) {
    var stepFactor = 1 / (steps - 1),
        interpolatedColorArray = [];

    color1 = color1.match(/\d+/g).map(Number);
    color2 = color2.match(/\d+/g).map(Number);

    for(var i = 0; i < steps; i++) {
        interpolatedColorArray.push("rgb("+interpolateColor(color1, color2, stepFactor * i)+")");
    }

    return interpolatedColorArray;
};
    title = [false,""];
    var month_list = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
    chart({{m_don}},"rgba(18,176,226,0.7)",month_list,"Amount of Donation",[true,"Donations (YTD)"],'bar','barchart');
    chart({{d_list}},"rgba(18,176,226,0.7)",{{dy_list}},"Amount of Donation",[true,"Donations (by Year)"],'bar','barchart2');
    chart({{d_nat|safe}},interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",{{d_nat|length}}),[''],{{d_nat_label|safe}},title,'doughnut','hero-donut2');
    chart({{d_con|safe}},interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",{{d_con|length}}),[''],{{d_con_label|safe}},title,'doughnut','hero-donut3');
    $("#field").change(function(){
        $(".filter_value").remove();
        $selected= $(this).children("option:selected").text();
        $.ajax({
        type:"POST",
        url: "{% url 'donor_dashboard' %}",
        data:{select: $selected},
        success: function(resp){
        if ($selected === 'All'){
        $('#barchart2').remove();
        $('#graph3').append('<canvas id="barchart2" height="400" width="550" style="margin:0 auto;"></canvas>');
        chart(resp.d_list,"rgba(18,176,226,0.7)",resp.dy_list,"Amount of Donation",[true,"Donations (by Year)"],'bar','barchart2');
        }
           $value_list = resp.value;
           $("#value").attr('disabled', false);
           $("#value").append('<option class="filter_value" value="0">Select value..</option>');
        $.each($value_list,function(index, value)
        {
            $("#value").append('<option class="filter_value" value=' + (index+1) + '>' + value + '</option>');
        });
       }
      });
        });
      $("#value").change(function(){
        $value= $("#value option:selected").text();
        $field= $("#field option:selected").text();
        $donor = $('#search').val();
        $.ajax({
        type:"POST",
        url: "{% url 'donor_dashboard' %}",
        data:{fvalue: $value, field:$field,donor:$donor},
        success: function(resp){
        if ($donor === ''){
        $('#barchart2').remove();
        $('#graph3').append('<canvas id="barchart2" height="400" width="550" style="margin:0 auto;margin-left:10px;"></canvas>');
        chart(resp.d_list,"rgba(18,176,226,0.7)",resp.dy_list,"Amount of Donation",[true,"Donations (by Year "+resp.year+")"],'bar','barchart2');
        }
        else{
        $('#barchart2').remove();
        $('#graph3').append('<canvas id="barchart2" height="400" width="550" style="margin:0 auto;margin-left:10px;"></canvas>');
        chart(resp.d_list,"rgba(18,176,226,0.7)",resp.dy_list,"Amount of Donation",[true,"Donations (by Year)"],'bar','barchart2');
        $('#barchart').remove();
        $('#graph').append('<canvas id="barchart" height="400" width="550" style="margin:0 auto;margin-left:10px;"></canvas>');
        chart(resp.m_don,"rgba(18,176,226,0.7)",month_list,"Amount of Donation",[true,"Donations (by Year "+resp.year+")"],'bar','barchart');
        }
        }
      });

    });

});

   function chart(dat, bgcolor, d_label, label,title, type, id){
            if (type === 'line'){
                        var data = {
                            labels: d_label,
                            datasets: [{
                            data: dat,
                            borderColor:'#12b0e2',
                            }],
                        };
                        var opt = {
                layout: {
                padding: {
                    // Any unspecified dimensions are assumed to be 0
                    top: 25,
                }
},
                    responsive: false,
                    segmentShowStroke: false,
                     scales: {
        xAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
                display: false,
            },
            ticks: {
                    display: false,
                }
        }],
        yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
                display: false,
            },
            ticks: {
                    display: false //this will remove only the label
                }

        }]
        },
                     plugins: {
      datalabels: {
      align: "top",
      anchor: "center",
      offset: 1,
             }
          },
                    legend: {
                    display: false
                    },
                    maintainAspectRatio: true,
                    }
                        }
             else if (type === 'bar'){
                 var data = {
                            labels: d_label,
                            datasets: [{
                            label: label,
                            data: dat,
                            barThickness: 32,
                            backgroundColor:bgcolor,
                            }],
                        };
                        var opt = {
                         layout: {
                padding: {
                    // Any unspecified dimensions are assumed to be 0
                    top: 25,
                }
},
                    scales: {
        xAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
        }],
        yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            },

        }]
    },
    events: false,
    tooltips: {
        enabled: false
    },
    hover: {
        animationDuration: 0
    },
    plugins: {
      datalabels: {
        color: '#34495e',
             }
          },

                    responsive: false,
                    legend: {
                    display: false
                    },
                    title :{display: title[0],position:'bottom',text:title[1],fontSize:18,fontFamily:"Arial Rounded MT Bold",padding:15,fontColor:'rgb(52, 73, 94)'},
                    maintainAspectRatio: true,
                    }
             }
             else {
                var data = {
                            datasets: [{
                            data: dat,
                            backgroundColor: bgcolor,
                            borderColor:'#d0eff9',}],
                             labels: label
                        };
                        var opt = {
                    responsive: false,
                    segmentShowStroke: false,
                    legend: {
                    display: true,
                    position: 'top',
                    },
                     plugins: {
                      datalabels: {
                        formatter: (value, ctx) => {
                        let sum = 0;
                        let dataArr = ctx.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = (value*100 / sum).toFixed(0)+"%";
                        return percentage;
                        },
                    color: '#fff',
                        }
                    },
                    maintainAspectRatio: true,
                    }
             }

                    ctx = document.getElementById(id).getContext("2d")

                    var myDoughnut = new Chart(ctx,{type:type,data:data,options:opt});
                    }

</script>
{% endblock %}
</body>

</html>
