<!DOCTYPE html>
<html lang="en" class="zoom">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Bookwallah | Dashboard</title>
    {% load static %}
  {% load customfilters %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/fancybox/jquery.fancybox.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/to-do.css' %}">
    <script src="{% static 'lib/chart-master/Chart.js' %}"></script>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-timepicker/css/timepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->

</head>

<body>
{% block body %}
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="{% url 'profile' %}" class="logo" style="margin-top:5px;"><img src="{% static 'img/logo.png' %}" alt="BookWallah"/></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'signout' %}">Sign Out</a></li>
        </ul>
      </div>

    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
        <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="{% url 'profile' %}"><img src="{{image}}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
          <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
            <ul class="sub">
              <li class="active"><a href="{% url 'main_dashboard' %}">Main Dashboard</a></li>
                <li ><a href="{% url 'proj_dashboard' %}">Project Dashboard</a></li>
                <li><a href="{% url 'vol_dashboard' %}">Volunteer Dashboard</a></li>
                <li ><a href="{% url 'donor_dashboard' %}">Donor Dashboard</a></li>
                <li><a href="{% url 'child_dashboard' %}">Child Dashboard</a></li>
              <li><a href="{% url 'rec_dashboard' %}">Recruitment Dashboard</a></li>
            </ul>
          </li>
            {% if user.is_authenticated %}
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-book"></i>
              <span>My Account</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'calender' %}">Calender</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-comments-o"></i>
              <span>Chat Room</span>
              </a>
            <ul class="sub">
              <li><a href="{% url 'lobby' %}">Lobby</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-picture-o"></i>
              <span>Gallery</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'session_gallery' %}">Session</a></li>
              <li><a href="{% url 'project_gallery' %}">Project</a></li>
              <li><a href="{% url 'donor_gallery' %}">Donor</a></li>
              <li><a href="{% url 'kid_gallery' %}">Kid</a></li>
            </ul>
          </li>

            {% else %}
            <li class="mt">
            <a href="{% url 'signin' %}">
              <i class="fa fa-book"></i>
              <span>Sign In</span>
              </a>
            </ul>
          </li>
            {% endif %}
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">

        <div class="row">

          <div class="col-lg-9 main-chart" style="padding-top:0px;">
            <!--CUSTOM CHART START -->
            <div  class="row" style="padding-bottom:15px; ">
            <div id="img-container" >
          <div id="image" class="col-lg-12 parallax" style="background-image: url('/media/{{landing_image}}');min-height:400px;">
              </div>
            </div></div>
             <div class="row">
                  <div class="col-md-5 col-sm-5" >
            <div class="border-head">
              <h3>PROJECT SESSIONS</h3>
            </div>
                  </div>
                      <div class="col-md-6 col-sm-6 goright" >
            <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" data-url='{{ request.build_absolute_uri|safe }}'>
                <div class="row form-group">
                   <div class="col-md-3 col-sm-3 " >
                     <select id="year" name="value" class="form-control" style="text-align:center; padding: .375rem .75rem;">

                     </select>
                   </div>
                    <div class="col-md-4 col-sm-4 " >
                        <select id="field" name="field"  class="form-control" style="text-align:center; padding: .375rem .75rem;">
                            <option value="0">Filter with...</option>
                            <option value="1">All</option>
                            <option value="2">Project</option>
                            <option value="3">Chapter</option>
                            <option value="4">Country</option>
                        </select>
                    </div>
                        <div class="col-md-4 col-sm-4 " >
                        <select id="value" name="value" class="form-control" style="text-align:center; padding: .375rem .75rem;">
                          <option class="filter_value" value="">Select Value...</option>
                          {% for c in country_list %}
                          <option class="filter_value" value="{{c}}">{{c}}</option>
                          {% endfor %}
                        </select>
                        </div>
                  <div class="col-md-1 col-sm-1 " >
                    <a id="settings" data-toggle="modal" data-target="#myModal" style="margin-left:70px;font-size:24px;"><i class="fa fa-cog"></i></a>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" id="myModalLabel">SETTINGS</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <h3 class="centered" style="margin:0px;margin-bottom:5px;">Set Fiscal Month:</h3>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-9 col-sm-9 " >
                        <select id="f_m" name="field" class="form-control" style="text-align:center; padding: .375rem .75rem;">

                        <option value="1">JAN</option><option value="2">FEB</option><option value="3">MAR</option><option value="4">APR</option><option value="5">MAY</option><option value="6">JUN</option><option value="7">JUL</option><option value="8">AUG</option><option value="9">SEP</option><option value="10">OCT</option><option value="11">NOV</option><option value="12">DEC</option></select>
                    </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button id="closef_m" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button id="setf_m" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
                  </div>
                </div>

              </form>
                  </div>
                  </div>
            <div class="blue-panel pn" style="height:100%;" >
              <div id="graph">
                  <canvas id="barchart" height="500" width="1200" style="margin:0 auto;"></canvas>
                  </div>
            </div>
            <div class="row mt">
              <!-- SERVER STATUS PANELS -->
              <div class="col-md-6 col-sm-6 mb">
                <div class="blue-panel pn donut-chart" style="height:350px;">
                  <div class="blue-header">
                    <h5>VOLUNTEER ATTENDANCE</h5>
                  </div>
                    <div id="graph1">
                  <canvas id="serverstatus01" height="200" width="400" style="margin:0 auto;"></canvas>
                  </div>
                        <div class="row">
                    <div class="col-sm-5 col-xs-6">
                      <p>Total<br/>Attendance:</p>
                    </div>
                    <div class="col-sm-6 col-xs-6 goright">
                      <h2 id="vol_att">{{vol_att}}%</h2>
                    </div>
                  </div>
                </div>
                <!-- /grey-panel -->
              </div>
              <!-- /col-md-4-->
                <div class="col-md-6 col-sm-6 mb">
                <div class="blue-panel pn donut-chart" style="height:350px;">
                  <div class="blue-header">
                    <h5>CHILD ATTENDANCE</h5>
                  </div>
                  <div id="graph5">
                  <canvas id="serverstatus02" height="200" width="400" style="margin:0 auto;"></canvas>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 col-xs-6">
                      <p>Total<br/>Attendance:</p>
                    </div>
                    <div class="col-sm-6 col-xs-6 goright">
                      <h2 id="c_att">{{c_att}}%</h2>
                    </div>
                  </div>
                </div>
                <!-- /grey-panel -->
              </div>

              <!-- /col-md-4 -->
              <!-- /col-md-4 -->
            </div>
              <div class="row">
                  <div class="col-md-6 mb">
                <!-- WHITE PANEL - TOP USER -->
                <div class="blue-panel pn" style="height:350px;">
                  <div class="blue-header">
                    <h5>TOP VOLUNTEER</h5>
                  </div>
                  <p><img src="{{tv_av}}" class="img-circle" width="150" height="150"></p>
                  <p><b>{{tv_na}}</b></p>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="mt">MEMBER SINCE</p>
                      <p>{{tv_jy}}</p>
                    </div>
                    <div class="col-md-6">
                      <p class="mt">TOTAL HOURS</p>
                      <p>{{tv_hrs}}</p>
                    </div>
                  </div>
                </div>
              </div>
                  <div class="col-md-6 mb">
                  <div class="blue-panel pn" style="height:350px;">
                  <div class="blue-header">
                    <h5>TOP CHILD</h5>
                  </div>
                  <p><img src="{{tk_av}}" class="img-circle" width="150" height="150"></p>
                  <p><b>{{tk_na}}</b></p>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="mt">MEMBER SINCE</p>
                      <p>{{tk_jy}}</p>
                    </div>
                    <div class="col-md-6">
                      <p class="mt">TOTAL SESSIONS</p>
                      <p>{{tk_count}}</p>
                    </div>
                  </div>
                </div>
                  </div>
              </div>
            <div class="row mt">

                <div class="col-md-6 col-sm-6 mb">
                <div class="blue-panel pn" style="height:400px;">
                  <div class="blue-header">
                      <h5>KID STATISTICS (<small><span>by Age group/Gender</span></small>)</h5>
                  </div>
                    <div id="graph3">
                  <canvas id="serverstatus03" height="300" width="300" style="margin:0 auto;"></canvas>
                  </div>
                        <footer>
                    <div class="pull-left" style="margin-left:20px;">
                      <h5><span>Male: </span><span id="male">{{k_m}}</span></h5>
                    </div>
                    <div class="pull-right" style="margin-right:20px;">
                      <h5><span>Female: </span><span id="female">{{k_f }}</span></h5>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
                <div class="col-md-6 col-sm-6 mb">
                <div class="blue-panel pn" style="height:400px;">
                    <div class="blue-header" style="margin-bottom:0px;" >
                    <h5>NO. OF YEARS KIDS ATTENDING</h5>
                  </div>

                    <div id="graph2">
                  <canvas id="barchart2" height="300" width="550" style="margin:0 auto;margin-top:5px;"></canvas>
                  </div>
                </div>
                </div>
            </div>
            <div class="row mt mb">
                 <div class="col-md-4 col-sm-4 mb">
                <div class="blue-panel pn">
                  <div class="blue-header" style="margin-bottom:0px;">
                    <h5>NO. OF KIDS ATTENDING</h5>
                  </div>
                  <h1 style="margin-top:10px;" ><i class="fa fa-user fa-3x" style="color:#2980b9;"></i></h1>
                    <p >+ <span id="no_nk"> {{no_nk}}</span> NEW KIDS (since last month)</p>
                  <footer>
                    <div class="centered">
                        <h3><i class="fa fa-trophy"></i>  <span id="no_k">{{no_k}}</span></h3>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
              <div class="col-md-8 col-sm-8 mb">
                <div class="blue-panel pn">
                    <div class="blue-header" style="margin-bottom:0px;" >
                    <h5>TESTIMONIALS</h5>
                  </div>
                  <div class="slideshow-container">
<a class="prev" onclick="plusSlides(-1)">❮</a>
<div class="mySlides">
  <q >{{d_test}}</q>
  <p class="author">- {{d_name}}</p>
</div>

<div class="mySlides">
  <q>{{t_test}}</q>
  <p class="author">- {{t_name}}</p>
</div>

<a class="next" onclick="plusSlides(1)">❯</a>
            </div>
                  <div id="dot" class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
</div>
                </div>
                </div>
            </div>


               <div class="row mt mb">
              <div class="col-md-12 col-sm-12">
              <section class="blue-panel">
              <header class="blue-header">
                LOCATION OF PROJECTS
              </header>
              <div class="panel-body">
                  <div id="controls-tabs"></div>
                  <div id="info"></div>
                <div id="gmap-list"></div>
              </div>
            </section>
              </div>
            </div>



            <!-- /row -->
            <!-- /row -->
          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->
          <div class="col-lg-3 ds" style="padding-top:15px;">
                  <div id="kd" class="parallax" style="padding-bottom:15px; " hidden>
                  <div  class="blue-panel pn" style="height:485px;" >
                  <div class="blue-header">
                    KEY DETAILS
                  </div>
            <table style="margin:0 1px; color:black;width:100%; border-collapse:separate; border-spacing:2px;">
              <tbody id="details">
                <tr class="hlt">
              <td style="text-align:left;" >Project Name:</td>
                <td id="pname" style="text-align:right;">LaCasa De Papel</td>
              </tr>
              <tr class="hlt">
              <td style="text-align:left; color:black;">Address:</td>
                  <td id="add" style="text-align:right;">Costa Brava,Spain</td>
              </tr>
            <tr class="hlt">
              <td style="text-align:left; color:black;">Contact:</td>
                <td  id="contact" style="text-align:right;">+91-7980468742</td>
            </tr>
              <tr class="hlt">
              <td style="text-align:left; color:black;">Top Highlights: </td>
                  <td  style="text-align:right;"><ul id="hlight"></ul></td>
            </tr>
              </tbody>
            </table>
          </div>
              </div>
            <!--COMPLETED ACTIONS DONUTS CHART-->
            <div class="donut-main mb" style="height:200px;">
              <h4>SESSION PROGRESS</h4>
                <div id="graph4">
              <canvas id="serverstatus04" height="200" width="300" style="margin:0 auto;"></canvas>
                </div>
                    <h3 id="ses_p" style="position:relative; bottom:120px;">{{ses_p}}%</h3>

            </div>
            <!--NEW EARNING STATS -->
          <div class="panel terques-chart" style="margin-bottom:0px;">
              <div class="panel-body">
                <div class="chart">
                    <h4 style="font-size:18px;">EXPENSES</h4>
                  <div class="centered">
                    <span>TOTAL EXPENSES</span>
                    <strong id="t_exp">$ {{t_exp}}</strong>
                  </div>
                  <br>
                    <div id="graph6">
                  <canvas id="serverstatus05" height="200" width="350" style="margin:0 auto;"></canvas>

                    </div>
                      <!--div id="graph6" class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="{{m_exp}}"></div-->

                    </div>
              </div>
            </div>
             <div class="panel terques-chart">
              <div class="panel-body" style="padding-top:0px;">
                <div class="chart">
            <div class="donut-main" style="height:220px;">
              <h4 >EXPENSE TYPE STATISTICS (in USD)</h4>
                <div id="graph7">
              <canvas id="exp_chart" height="200" width="350" style="margin:0 auto;"></canvas>
                </div>
            </div>
                </div>
              </div>


            </div>

            <!--new earning end-->
            <!-- RECENT ACTIVITIES SECTION -->

            <!-- USERS ONLINE SECTION -->
              <div class="blue-panel pn mb" style="height:100%;">

              <div style="overflow:auto; height:220px;">
            <!-- First Member -->
                <table class="table table-bordered table-condensed">
                    <thead class="blue-header" >
                        <tr >
                            <th style="text-align:center;">Top Highlights<span style="float:right;">V</span></th>
                            <th style="text-align:center;">Top Issues<span style="float:left;">S</span></th>
                        </tr>
                    </thead>
                    <tbody class="hvi">
                    {% for i in m %}
                      <tr class="hi" style="height:100%;">
                        <td >{{hi|index:i}}</td>

                        <td >{{is|index:i}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
                      </div>
              </div>
            <div class="blue-panel pn mb" style="height:100%;">
                  <div class="blue-header" style="margin-bottom:0px;">
                <h5>VOLUNTEER LIST</h5>
                  </div>
                      <div id="v_list" style="overflow:auto; height:250px;">
            <!-- First Member -->
             {% for k,v in v_list.items %}
            <div class="desc">
              <div class="thumb">
                <img class="img-circle" src="{{v.0}}" width="35px" height="35px" align="">
              </div>
              <div class="details">
                <p style="margin-bottom:0px;">
                  <a href="#">{{k}}</a><br/>
                  <muted>{{v.1}}</muted>
                </p>
              </div>
            </div>
            {% endfor %}
            <!-- Second Member -->

                      </div>
              </div>

            <!-- CALENDAR-->
            <div class="mb">
                <div class="weather pn">
                  <i class="fa fa-clock-o fa-4x"></i>
                  <h2 id="ctime">{{curr_time}}</h2> <h3 id="cdate" style="color:white;">{{curr_date}}</h3> <h4 id="ccon">India</h4>
                </div>
              </div>
            <div class="border-head">
              <h3>SURVEY REPORTS</h3>
            </div>
                    <div class="blue-panel pn" style="height:300px;">
                    <div class="blue-header" style="margin-bottom:0px;" >
                    <h5>NPS SCORE</h5>
                  </div>

                    <div id="sgraph1">
                  <canvas id="schart1" height="200" width="350" style="margin:0 auto;margin-top:5px;"></canvas>
                  </div>
                </div>


                <div class="blue-panel pn" style="height:300px;">
                    <div class="blue-header" style="margin-bottom:0px;" >
                    <h5>CHILD PSYCHOLOGY</h5>
                  </div>

                    <div id="sgraph2">
                  <canvas id="schart2" height="200" width="350" style="margin:0 auto;margin-top:5px;"></canvas>
                  </div>
                </div>

                <div class="blue-panel pn" style="height:300px;">
                    <div class="blue-header" style="margin-bottom:0px;" >
                    <h5>PRO SOCIAL BEHAVIOR</h5>
                  </div>

                    <div id="sgraph3">
                  <canvas id="schart3" height="230" width="350" style="margin:0 auto;margin-top:5px;"></canvas>
                  </div>
                </div>
            <!-- / calendar -->
          </div>


            <div class="row mt">
                  <div class="col-md-6 col-sm-6">
                      <div class="blue-panel pn" style="height:100%;">
                  <div class="blue-header">
                    <h5>SESSION GALLERY</h5>
                  </div>
                          <div class="grid-row">

                              <div class="column mb">
                                {% for pic in ses_gal %}
                                {% if forloop.counter|mod:'2' == 1 %}

                                <img class="img" width="100%" src="{{ ses_gal|index:forloop.counter0 }}" alt="">
                                {% endif %}
                                {% endfor %}
                              </div>

                            <div class="column mb">
                               {% for pic in ses_gal %}
                                {% if forloop.counter|mod:'2' == 0 %}
                                <img class="img" width="100%" src="{{ ses_gal|index:forloop.counter0 }}" alt="">
                                {% endif %}
                                {% endfor %}
                              </div>

                          </div>

                </div>
                  </div>
                <div class="col-md-6 col-sm-6">
                      <div class="blue-panel pn" style="height:100%;">
                  <div class="blue-header">
                    <h5>KIDS GALLERY</h5>
                  </div>
                          <div class="grid-row">
                               <div class="column mb">
                                {% for pic in kid_gal %}
                                {% if forloop.counter|mod:'2' == 1 %}

                                <img width="200px" src="{{ kid_gal|index:forloop.counter0 }}" alt="">
                                {% endif %}
                                {% endfor %}
                              </div>

                            <div class="column mb">
                               {% for pic in kid_gal %}
                                {% if forloop.counter|mod:'2' == 0 %}
                                <img width="200px" src="{{ kid_gal|index:forloop.counter0 }}" alt="">
                                {% endif %}
                                {% endfor %}
                              </div>
                          </div>

                </div>
                  </div>
              </div>
          <!-- /col-lg-3 -->
        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->
    <!--footer start-->

    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
   <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!--common script for all pages-->
     <script src="{% static 'lib/common-scripts.js' %}"></script>
  <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
  <script src="{% static 'lib/sparkline-chart.js' %}"></script>
    <script src="{% static 'lib/raphael/raphael.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
  <script src="{% static 'lib/fancybox/jquery.fancybox.js' %}"></script>
 <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
  <script src="{% static 'lib/google-maps/maplace.js' %}"></script>
  <script src="{% static 'lib/google-maps/data/points.js' %}"></script>
  <script>
    $(function () {
    $('#field').val('4');
    $('#value').val('India');
});
</script>
<script type="text/javascript">
    $(document).ready(function() {
     $.ajax({
        url: "{% url 'p_location' %}",
        }).done(function( data) {
            var loc = data;
    var map_obj = new Maplace({
      locations: loc,
      map_div: '#gmap-list',
      controls_div: '#controls-tabs',
      controls_type: 'dropdown',
      controls_on_map: false,
      view_all: true,
      show_infowindow: false,
      start: 1,
    }).Load();
    var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to BookWallah!',
        // (string | mandatory) the text inside the notification
        text: 'Have a Good Day!!',
        // (string | optional) the image to display on the left
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
        });



    });
  </script>
<script>
function interpolateColor(color1, color2, factor) {
	if (arguments.length < 3) {
		factor = 0.5;
	}
	var result = color1.slice();
	for (var i = 0; i < 3; i++) {
		result[i] = Math.round(result[i] + factor * (color2[i] - color1[i]));
	}
	return result;
}
// My function to interpolate between two colors completely, returning an array
function interpolateColors(color1, color2, steps) {
	var stepFactor = 1 / (steps - 1),
		interpolatedColorArray = [];

	color1 = color1.match(/\d+/g).map(Number);
	color2 = color2.match(/\d+/g).map(Number);

	for (var i = 0; i < steps; i++) {
		interpolatedColorArray.push("rgb(" + interpolateColor(color1, color2, stepFactor * i) + ")");
	}

	return interpolatedColorArray;
}
     function groupedbar(id,label,dataset,m){
    var ctx = document.getElementById(id).getContext("2d");
    step = dataset.length;
    bg = interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",step);
    var data = dataset;
    for (i=0;i<step;i++){
    data[i]["backgroundColor"] = bg[i];
    }
var data = {
    labels: label,
    datasets: data
};

var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
    plugins: {
      datalabels: {
        color: '#fff',
             }
          },
        barValueSpacing: 20,
        scales: {
        xAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            },
        }],
        yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            },
             ticks: {
                min:m,
                }

        }]
        },

        }
});
    }

    function chart(dat, bgcolor, d_label, label,title, type, id){
            if (type === 'line'){
                        var data = {
                            labels: d_label,
                            datasets: [{
                            data: dat,
                            borderColor:'#12b0e2',
                            }],
                        };
                        var opt = {
                layout: {
                padding: {
                    // Any unspecified dimensions are assumed to be 0
                    top: 25,
                    right:10,
                }
},
                    responsive: false,
                    segmentShowStroke: false,
                     scales: {
        xAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
                display: false,
            }
        }],
        yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
                display: false,
            },
            ticks: {
                    display: false //this will remove only the label
                }

        }]
        },
                     plugins: {
      datalabels: {
      align: "top",
      anchor: "center",
      offset: 1,
             }
          },
                    legend: {
                    display: false
                    },
                    maintainAspectRatio: true,
                    }
                        }
             else if (type === 'bar'){
                 var data = {
                            labels: d_label,
                            datasets: [{
                            label: label,
                            data: dat,
                            barThickness: 32,
                            backgroundColor:bgcolor,
                            }],
                        };
                        var opt = {
                         layout: {
                padding: {
                    // Any unspecified dimensions are assumed to be 0
                    top: 25,
                }
},
                    scales: {
        xAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
        }],
        yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            },

        }]
    },
    events: false,
    tooltips: {
        enabled: false
    },
    hover: {
        animationDuration: 0
    },
    plugins: {
      datalabels: {
        color: '#34495e',
             }
          },

                    responsive: false,
                    legend: {
                    display: false
                    },
                    title :{display: title[0],position:'bottom',text:title[1],fontSize:18,fontFamily:"Arial Rounded MT Bold",padding:15,fontColor:'rgb(52, 73, 94)'},
                    maintainAspectRatio: true,
                    }
             }
             else {
                var data = {
                            datasets: [{
                            data: dat,
                            backgroundColor: bgcolor,
                            borderColor:'#d0eff9',}],
                             labels: label
                        };
                        var opt = {
                    responsive: false,
                    segmentShowStroke: false,
                    legend: {
                    display: true,
                    position: 'top',
                    },
                     plugins: {
                      datalabels: {
                        formatter: (value, ctx) => {
                        let sum = 0;
                        let dataArr = ctx.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = (value*100 / sum).toFixed(0)+"%";
                        return percentage;
                        },
                    color: '#fff',
                        }
                    },
                    maintainAspectRatio: true,
                    }
             }

                    ctx = document.getElementById(id).getContext("2d")

                    var myDoughnut = new Chart(ctx,{type:type,data:data,options:opt});
                    }

$(document).ready(function(){
$("#f_m").val({{config}});
     $.each({{year}},function(index, value)
        {
            $("#year").append('<option class="year" value=' + value + '>' + value + '</option>');
        });
    title = [false,""];
    var month_list = {{m_list|safe}};
    title = [false,""];
    var month_list = {{m_list|safe}};
    $("#setf_m").click(function(){
      $s_val= $("#f_m").children("option:selected").val();
      $s_text= $("#f_m").children("option:selected").text();
      $.ajax({
        type:"POST",
        url: "{% url 'main_dashboard' %}",
        data:{fiscalv: $s_val,fiscalt:$s_text},
        success: function(){
        $("#closef_m").click();
        var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Settings have been changed',
        // (string | mandatory) the text inside the notification
        text: 'Please Reload the application to see the changes!!',
        // (string | optional) the image to display on the left
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });} ,
        });
    });
    groupedbar("schart1",{{nps_label}},{{nps_data|safe}},0);
    groupedbar("schart2",{{cp_label|safe}},{{cp_data|safe}},0);
    groupedbar("schart3",{{sb_label|safe}},{{sb_data|safe}},{{sb_data|list_min}});
    chart({{e_sum}},interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",{{e_sum|length}}),[''],{{ex_type|safe}},title,'pie','exp_chart');
    chart({{c_att_data}},interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",{{c_att_data|length}}),[''],['Attended','Not-Attended'],title,'doughnut','serverstatus02');
    chart({{vol_att_data}},interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",{{vol_att_data|length}}),[''],["Attended","Not-Attended"],title,'doughnut','serverstatus01');
    chart({{ses_p_data}},interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",{{ses_p_data|length}}),[''],["Completed","Upcoming"],title,'doughnut','serverstatus04');
    chart({{k_stat}},interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",{{k_stat|length}}),[''],{{k_stat_label}},title,'doughnut','serverstatus03');
    chart({{m_exp}},"",month_list,[''],title,'line','serverstatus05');
    chart({{months}},"rgba(18,176,226,0.7)",month_list,"No. of Sessions",[true,"Number of Sessions (per month)"],'bar','barchart');
    chart({{k_years}},"rgba(18,176,226,0.7)",[1,2,3,4,5],"No. of Kids",title,'bar','barchart2');

    $("#field").change(function(){
    $selected= $(this).children("option:selected").text();
    $.ajax({
        type:"POST",
        url: "{% url 'main_dashboard' %}",
        data:{select: $selected},
        success: function(resp){
        $(".filter_value").remove();
            $value_list = resp.value;
           $("#value").attr('disabled', false);
           $("#value").append('<option class="filter_value" value="0">Select value..</option>');
        $.each($value_list,function(index, value)
        {
            $("#value").append('<option class="filter_value" value=' + (index+1) + '>' + value + '</option>');
        });
        }
        });
    });
    $("#year").change(function(){
        $('.hi').remove();

        $value= $("#value option:selected").text();
        $field= $("#field option:selected").text();
        $year = $("#year option:selected").text();
        //${'#hlight').empty();
        $.ajax({
        type:"POST",
        url: "{% url 'main_dashboard' %}",
        data:{value: $value, field:$field, year:$year},
        success: function(resp){
        $('#image').remove();

          $('#img-container').append('<div id="image" class="col-lg-12 parallax" style="background-image: url(\'/media/'+resp.p_details.image+'\');"></div>');
          $('#pname').text(resp.p_details.project_name);
          $('#contact').text(resp.p_details.contact_number);
          $('#add').text(resp.p_details.address);
          if ((resp.hi !== '') || (resp.is !== '')){
          for (i=0;i<4;i++){
                $('#hlight').append('<li class="hi">'+resp.hi[i]+'</li>');
          }
          }
            $('#kd').show();
            for (i=0;i<resp.m.length;i++){
            $hi = '';
            $is = '';
            if (resp.hi[i]!==undefined){$hi=resp.hi[i];}
            if (resp.is[i]!==undefined){$is=resp.is[i];}
            $('.hvi').append('<tr class="hi" style="height:100%;"><td >'+$hi+'</td><td>'+$is+'</td></tr>');

          }
        //document.getElementById('hlight').innerHTML = '';
        $('#serverstatus01').remove();
        $('#serverstatus04').remove();
        $('#serverstatus02').remove();
        $('#graph1').append('<canvas id="serverstatus01" height="200" width="400" style="margin:0 auto;"></canvas>');
        $('#graph4').append('<canvas id="serverstatus04" height="200" width="300" style="margin:0 auto;"></canvas>');
         $('#graph5').append('<canvas id="serverstatus02" height="200" width="400" style="margin:0 auto;"></canvas>');
        chart(resp.c_att_data,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.c_att_data.length),[''],["Attended","Not-Attended"],title,'doughnut','serverstatus02');
        chart(resp.vol_att_data,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.vol_att_data.length),[''],["Attended","Not-Attended"],title,'doughnut','serverstatus01');
        chart(resp.ses_p_data,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.ses_p_data.length),[''],["Completed","Upcoming"],title,'doughnut','serverstatus04');
        $('#vol_att').text(resp.vol_att+"%");
        $('#c_att').text(resp.c_att+"%");
        $('#ses_p').text(resp.ses_p+"%");
        $('#t_exp').text('$'+resp.t_exp);
        $('#serverstatus05').remove();
        $('#graph6').append('<canvas id="serverstatus05" height="200" width="350" style="margin:0 auto;"></canvas>')
         chart(resp.m_exp,[''],month_list,[''],title,'line','serverstatus05');
         $('#serverstatus03').remove();
         $('#graph3').append('<canvas id="serverstatus03" height="300" width="300" style="margin:0 auto;"></canvas>');
         chart(resp.k_stat,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.k_stat.length),[''],resp.k_stat_label,title,'doughnut','serverstatus03');
         $('#exp_chart').remove();
         $('#graph7').append('<canvas id="exp_chart" height="200" width="400" style="margin:0 auto;"></canvas>');
         chart(resp.e_sum,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.e_sum.length),[''],JSON.parse(resp.ex_type),title,'pie','exp_chart');
          $('#ccon').text(resp.curr_con);
          $('#ctime').text(resp.curr_date);
          $('$cdate').text(resp.curr_time);
          $('#male').text(resp.k_m);
          $('#female').text(resp.k_f);
          $('#no_nk').text(resp.no_nk);
          $('#no_k').text(resp.no_k);
          $('#barchart').remove();

         $('#graph').append('<canvas id="barchart" height="500" width="1200" style="margin:0 auto;"></canvas>');
          chart(resp.months,"rgba(18,176,226,0.7)",month_list,"No. of Sessions",[true,"Number of Sessions (per month)"],'bar','barchart');

          $('#barchart2').remove();
          $('#graph2').append('<canvas id="barchart2" height="300" width="550" style="margin:0 auto;margin-top:10px;"></canvas>');
          chart(resp.k_years,"rgba(18,176,226,0.7)",[1,2,3,4,5],"No. of Kids",title,'bar','barchart2');
          $('.desc').remove();                               w

          for (i=0;i<Object.keys(resp.v_list).length;i++){
            var key = Object.keys(resp.v_list)[i];
            $('#v_list').append('<div class="desc"><div class="thumb"><img class="img-circle" src="'+resp.v_list[key][0]+'" width="35px" height="35" align=""></div><div class="details"><p style="margin-bottom:0px;"><a href="#">'+key+'</a><br/><muted>'+resp.v_list[key][1]+'</muted></p></div></div>');
          }


          }
      });
    });
     $("#value").change(function(){
        $('.hi').remove();

        $value= $("#value option:selected").text();
        $field= $("#field option:selected").text();
        $year = $("#year option:selected").text();
        //${'#hlight').empty();
        $.ajax({
        type:"POST",
        url: "{% url 'main_dashboard' %}",
        data:{value: $value, field:$field, year:$year},
        success: function(resp){
        $('#image').remove();

          $('#img-container').append('<div id="image" class="col-lg-12 parallax" style="background-image: url(\'/media/'+resp.p_details.image+'\');"></div>');
          $('#pname').text(resp.p_details.project_name);
          $('#contact').text(resp.p_details.contact_number);
          $('#add').text(resp.p_details.address);
          if ((resp.hi !== '') || (resp.is !== '')){
          for (i=0;i<4;i++){
                $('#hlight').append('<li class="hi">'+resp.hi[i]+'</li>');
          }
          }
            $('#kd').show();
            for (i=0;i<resp.m.length;i++){
            $hi = '';
            $is = '';
            if (resp.hi[i]!==undefined){$hi=resp.hi[i];}
            if (resp.is[i]!==undefined){$is=resp.is[i];}
            $('.hvi').append('<tr class="hi" style="height:100%;"><td >'+$hi+'</td><td>'+$is+'</td></tr>');

          }
        //document.getElementById('hlight').innerHTML = '';
        $('#serverstatus01').remove();
        $('#serverstatus04').remove();
        $('#serverstatus02').remove();
        $('#graph1').append('<canvas id="serverstatus01" height="200" width="400" style="margin:0 auto;"></canvas>');
        $('#graph4').append('<canvas id="serverstatus04" height="200" width="300" style="margin:0 auto;"></canvas>');
         $('#graph5').append('<canvas id="serverstatus02" height="200" width="400" style="margin:0 auto;"></canvas>');
        chart(resp.c_att_data,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.c_att_data.length),[''],["Attended","Not-Attended"],title,'doughnut','serverstatus02');
        chart(resp.vol_att_data,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.vol_att_data.length),[''],["Attended","Not-Attended"],title,'doughnut','serverstatus01');
        chart(resp.ses_p_data,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.ses_p_data.length),[''],["Completed","Upcoming"],title,'doughnut','serverstatus04');
        $('#vol_att').text(resp.vol_att+"%");
        $('#c_att').text(resp.c_att+"%");
        $('#ses_p').text(resp.ses_p+"%");
        $('#t_exp').text('$'+resp.t_exp);
        $('#serverstatus05').remove();
        $('#graph6').append('<canvas id="serverstatus05" height="200" width="350" style="margin:0 auto;"></canvas>')
         chart(resp.m_exp,[''],month_list,[''],title,'line','serverstatus05');
         $('#serverstatus03').remove();
         $('#graph3').append('<canvas id="serverstatus03" height="300" width="300" style="margin:0 auto;"></canvas>');
         chart(resp.k_stat,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.k_stat.length),[''],resp.k_stat_label,title,'doughnut','serverstatus03');
         $('#exp_chart').remove();
         $('#graph7').append('<canvas id="exp_chart" height="200" width="400" style="margin:0 auto;"></canvas>');
         chart(resp.e_sum,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.e_sum.length),[''],JSON.parse(resp.ex_type),title,'pie','exp_chart');
          $('#ccon').text(resp.curr_con);
          $('#ctime').text(resp.curr_date);
          $('$cdate').text(resp.curr_time);
          $('#male').text(resp.k_m);
          $('#female').text(resp.k_f);
          $('#no_nk').text(resp.no_nk);
          $('#no_k').text(resp.no_k);
          $('#barchart').remove();

         $('#graph').append('<canvas id="barchart" height="500" width="1200" style="margin:0 auto;"></canvas>');
          chart(resp.months,"rgba(18,176,226,0.7)",month_list,"No. of Sessions",[true,"Number of Sessions (per month)"],'bar','barchart');

          $('#barchart2').remove();
          $('#graph2').append('<canvas id="barchart2" height="300" width="550" style="margin:0 auto;margin-top:10px;"></canvas>');
          chart(resp.k_years,"rgba(18,176,226,0.7)",[1,2,3,4,5],"No. of Kids",title,'bar','barchart2');
          $('.desc').remove();                               w

          for (i=0;i<Object.keys(resp.v_list).length;i++){
            var key = Object.keys(resp.v_list)[i];
            $('#v_list').append('<div class="desc"><div class="thumb"><img class="img-circle" src="'+resp.v_list[key][0]+'" width="35px" height="35" align=""></div><div class="details"><p style="margin-bottom:0px;"><a href="#">'+key+'</a><br/><muted>'+resp.v_list[key][1]+'</muted></p></div></div>');
          }


          }
      });

    });
});

</script>
{% endblock %}
</body>

</html>
