<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>
    {% load static %}
  {% load customfilters %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/to-do.css' %}">

    <script src="{% static 'lib/chart-master/Chart.js' %}"></script>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-timepicker/css/timepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}">
    <link href="{% static 'css/table-responsive.css' %}" rel="stylesheet">


  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body onload="getTime()">
{% block body %}
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo" style="margin-top:5px;"><img src="{% static 'img/logo.png' %}" alt="BookWallah"/></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'signout' %}">Sign Out</a></li>
        </ul>
      </div>
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav pull-right top-menu">
          <!-- settings start -->
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">0</span>
              </a>
            <ul class="dropdown-menu extended notification">

            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
        <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="{{image}}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
            <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'main_dashboard' %}">Main Dashboard</a></li>
                <li><a href="{% url 'vol_dashboard' %}">Volunteer Dashboard</a></li>
                <li ><a href="{% url 'donor_dashboard' %}">Donor Dashboard</a></li>
                <li><a href="{% url 'child_dashboard' %}">Child Dashboard</a></li>
                <li class="active"><a href="{% url 'proj_dashboard' %}">Project Dashboard</a></li>
                <li><a href="{% url 'rec_dashboard' %}">Recruitment Dashboard</a></li>
            </ul>
          </li>
            {% if user.is_authenticated %}
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-book"></i>
              <span>My Account</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'calender' %}">Calender</a></li>
            </ul>
          </li>
            {% else %}
            <li class="mt">
            <a href="{% url 'signin' %}">
              <i class="fa fa-book"></i>
              <span>Sign In</span>
              </a>
            </ul>
          </li>
            {% endif %}
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12 parallax" style="background-image: url('/static/img/p2.jpeg');">

          </div>
          <div class="overlap-panel pn">
                  <div class="overlap-header">
                    KEY DETAILS
                  </div>
            <table style="margin:15px; color:black;width:90%; border-collapse: separate;border-spacing: 0 7px;">
              <tr >
              <td style="text-align:left; " >Project Name:</td>
                <td style="text-align:right;">LaCasa De Papel</td>
              </tr>
              <tr>
              <td style="text-align:left; color:black;">Address:</td>
                  <td style="text-align:right;">Costa Brava,Spain</td>
              </tr>
              <tr>
              <td style="text-align:left; color:black;">Account Manager:</td>
                  <td style="text-align:right;">Sergio Maquina</td>
              </tr>
            <tr>
              <td style="text-align:left; color:black;">Contact:</td>
                <td style="text-align:right;">+91-7980468742</td>
            </tr>
              <tr>
              <td style="text-align:left; color:black;vertical-align:top;">Top Highlights: </td>
                  <td style="text-align:right;"><ul><li>This is the highlight 1</li><li>This is the highlight 2</li></ul></td>
            </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 main-chart">

            <!--CUSTOM CHART START -->
              <div class="row">
                  <div class="col-md-5 col-sm-5" >
            <div class="border-head">
              <h3>PROJECT DETAILS</h3>
            </div>
                  </div>
                      <div class="col-md-6 col-sm-6 goright" >
            <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" data-url='{{ request.build_absolute_uri|safe }}'>
                <div class="row form-group">
                    <div class="col-md-6 col-sm-6 " >
                        <select id="field" name="field"  class="form-control" style="text-align:center; padding: .375rem .75rem;">
                            <option value="0">Filter with...</option>
                            <option value="1">All</option>
                            <option value="2">Project</option>
                            <option value="3">Chapter</option>
                            <option value="4">Country</option>
                        </select>
                    </div>
                        <div class="col-md-6 col-sm-6 " >
                        <select id="value" name="value"  class="form-control" style="text-align:center; padding: .375rem .75rem;">
                            <option value="0">Select value...</option>
                            <option value="1">Vegetarian</option>
                            <option value="2">Non-Vegetarian</option>
                            <option value="3">Vegan</option>
                        </select>
                        </div>
                </div>
              </form>
                  </div>
                  </div>
              <div class="custom-bar-chart">
              <ul class="y-axis" >
                <li><span>10.000</span></li>
                <li><span>8.000</span></li>
                <li><span>6.000</span></li>
                <li><span>4.000</span></li>
                <li><span>2.000</span></li>
                <li><span>0</span></li>
              </ul>
              <div class="bar" >
                <div class="title">JAN</div>
                <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
              </div>
              <div class="bar ">
                <div class="title">FEB</div>
                <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
              </div>
              <div class="bar ">
                <div class="title">MAR</div>
                <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
              </div>
              <div class="bar ">
                <div class="title">APR</div>
                <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
              </div>
              <div class="bar">
                <div class="title">MAY</div>
                <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
              </div>
              <div class="bar ">
                <div class="title">JUN</div>
                <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
              </div>
              <div class="bar">
                <div class="title">JUL</div>
                <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
              </div>
                  <div class="bar">
                <div class="title">AUG</div>
                <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
              </div>
                  <div class="bar">
                <div class="title">SEP</div>
                <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
              </div>
                  <div class="bar">
                <div class="title">OCT</div>
                <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
              </div>
                  <div class="bar">
                <div class="title">NOV</div>
                <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
              </div>
                  <div class="bar">
                <div class="title">DEC</div>
                <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-6 col-sm-6 mb">
               <div class="grey-panel pn donut-chart" style="height:350px;">
                  <div class="grey-header">
                    <h5>PROJECT PROGRESS</h5>
                  </div>
                  <canvas id="serverstatus02" height="200" width="200"></canvas>
                  <script>
                    var doughnutData = [{
                        value: 70,
                        color: "#FF6B6B"
                      },
                      {
                        value: 30,
                        color: "#fdfdfd"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                  </script>
                  <div class="row">
                    <div class="col-sm-5 col-xs-6">
                      <p>Total <br/>Session:</p>
                    </div>
                    <div class="col-sm-6 col-xs-6 goright">
                        <h2>70%</h2>
                    </div>
                  </div>
                </div>
                <!--  /darkblue panel -->
              </div>
              <div class="col-md-6 mb">
                <!-- WHITE PANEL - TOP USER -->
                <div class="white-panel pn" style="height:350px;">
                  <div class="white-header">
                    <h5>TOTAL NO. OF BENEFICIARY (KIDS)</h5>
                  </div>
                  <h1 style="font-size:60px;"><i class="fa fa-user fa-3x" style="color:#2980b9;"></i></h1>
                  <p>+ 1,789 NEW KIDS</p>
                  <footer>
                    <div class="centered">
                      <h3><i class="fa fa-trophy"></i> 17,988</h3>
                    </div>
                  </footer>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 mb">
              <section class="panel">
              <header class="panel-heading">
                LOCATION OF PROJECTS
              </header>
              <div class="panel-body">
                  <div id="controls-tabs"></div>
                  <div id="info"></div>
                <div id="gmap-list"></div>
              </div>
            </section>
              </div>
            </div>

            <!-- /row -->
            <!-- /row -->
          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->
          <div class="col-lg-3 ds">
            <!--COMPLETED ACTIONS DONUTS CHART-->
              <div class="panel terques-chart">
              <div class="panel-body">
                <div class="chart">
                    <h4>REVENUE</h4>
                  <div class="centered">
                    <span>TOTAL REVENUE</span>
                    <strong>$ 1,890,000</strong>
                  </div>
                  <br>
                  <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
                </div>
                <p class="mt centered"><b>$ 17,980</b><br>Monthly Revenue</p>
              </div>
            </div>
             <div class="panel terques-chart">
              <div class="panel-body">
                <div class="chart">
                    <h4>EXPENSES</h4>
                  <div class="centered">
                    <span>TOTAL EXPENSES</span>
                    <strong>$ 890,00 | 15%</strong>
                  </div>
                  <br>
                  <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
                </div>
                <p class="mt centered"><b>$ 17,980</b><br>Monthly Expenses</p>
              </div>
            </div>
            <!--new earning end-->
            <!-- RECENT ACTIVITIES SECTION -->

            <!-- USERS ONLINE SECTION -->
              <div class="white-panel pn mb" style="height:100%;">
                  <div class="white-header" style="margin-bottom:0px;">
                <h5>TEAM MEMBERS ASSIGNED</h5>
                  </div>
                      <div style="overflow:auto; height:250px;">
            <!-- First Member -->
            <div class="desc">
              <div class="thumb">
                <img class="img-circle" src="{% static 'img/ui-divya.jpg' %}" width="35px" height="35px" align="">
              </div>
              <div class="details">
                <p>
                  <a href="#">DIVYA MANIAN</a><br/>
                  <muted>Available</muted>
                </p>
              </div>
            </div>
            <!-- Second Member -->
            <div class="desc">
              <div class="thumb">
                <img class="img-circle" src="{% static 'img/ui-sherman.jpg' %}" width="35px" height="35px" align="">
              </div>
              <div class="details">
                <p>
                  <a href="#">DJ SHERMAN</a><br/>
                  <muted>I am Busy</muted>
                </p>
              </div>
            </div>
            <!-- Third Member -->
            <div class="desc">
              <div class="thumb">
                <img class="img-circle" src="{% static 'img/ui-danro.jpg' %}" width="35px" height="35px" align="">
              </div>
              <div class="details">
                <p>
                  <a href="#">DAN ROGERS</a><br/>
                  <muted>Available</muted>
                </p>
              </div>
            </div>
            <!-- Fourth Member -->
            <div class="desc">
              <div class="thumb">
                <img class="img-circle" src="{% static 'img/ui-zac.jpg' %}" width="35px" height="35px" align="">
              </div>
              <div class="details">
                <p>
                  <a href="#">Zac Sniders</a><br/>
                  <muted>Available</muted>
                </p>
              </div>
            </div>
                      </div>
              </div>
            <!-- CALENDAR-->
            <div id="calendar" class="mb">
              <div class="panel green-panel no-margin">
                <div class="panel-body">
                  <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                    <div class="arrow"></div>
                    <h3 class="popover-title" style="disadding: none;"></h3>
                    <div id="date-popover-content" class="popover-content"></div>
                  </div>
                  <div id="my-calendar"></div>
                </div>
              </div>
            </div>
            <!-- / calendar -->
          </div>
          <!-- /col-lg-3 -->
        </div>

        <!-- /row -->
      </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
   <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!--common script for all pages-->
     <script src="{% static 'lib/common-scripts.js' %}"></script>
  <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
  <script src="{% static 'lib/sparkline-chart.js' %}"></script>
    <script src="{% static 'lib/raphael/raphael.min.js' %}"></script>
  <script src="{% static 'lib/morris/morris.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/jquery.backstretch.min.js' %}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
  <script src="{% static 'lib/google-maps/maplace.js' %}"></script>
  <script src="{% static 'lib/google-maps/data/points.js' %}"></script>
<script>
    new Maplace({
      locations: LocsB,
      map_div: '#gmap-list',
      controls_div: '#controls-tabs',
      controls_type: 'list',
      controls_on_map: false,
      show_infowindow: false,
      start: 1,
      afterShow: function(index, location, marker) {
        $('#info').html(location.html);
      }
    }).Load();
  </script>
  <script type="text/javascript">
    $(document).ready(function() {

      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to BookWallah!',
        // (string | mandatory) the text inside the notification
        text: 'Have a Good Day!!',
        // (string | optional) the image to display on the left
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
  <script type="application/javascript">
    function getTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      // add a zero in front of numbers<10
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('showtime').innerHTML = h + ":" + m + ":" + s;
      t = setTimeout(function() {
        getTime()
      }, 500);
    }

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
  </script>
{% endblock %}
</body>

</html>
