<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Bookwallah | Dashboard</title>
    {% load static %}
  {% load customfilters %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/fancybox/jquery.fancybox.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/to-do.css' %}">

    <script src="{% static 'lib/chart-master/Chart.js' %}"></script>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-timepicker/css/timepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
{% block body %}
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="{% url 'profile' %}" class="logo" style="margin-top:5px;"><img src="{% static 'img/logo.png' %}" alt="BookWallah"/></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'signout' %}">Sign Out</a></li>
        </ul>
      </div>
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav pull-right top-menu">
          <!-- settings start -->
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">0</span>
              </a>
            <ul class="dropdown-menu extended notification">

            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
         <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="{% url 'profile' %}"><img src="{{image}}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
          <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'main_dashboard' %}">Main Dashboard</a></li>
              <li ><a href="{% url 'proj_dashboard' %}">Project Dashboard</a></li>
              <li><a href="{% url 'vol_dashboard' %}">Volunteer Dashboard</a></li>
                <li  ><a href="{% url 'donor_dashboard' %}">Donor Dashboard</a></li>
                <li><a href="{% url 'child_dashboard' %}">Child Dashboard</a></li>
              <li class="active"><a href="{% url 'rec_dashboard' %}">Recruitment Dashboard</a></li>
            </ul>
          </li>
            {% if user.is_authenticated %}
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-book"></i>
              <span>My Account</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'calender' %}">Calender</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-comments-o"></i>
              <span>Chat Room</span>
              </a>
            <ul class="sub">
              <li><a href="{% url 'lobby' %}">Lobby</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-picture-o"></i>
              <span>Gallery</span>
              </a>
            <ul class="sub">
              <li ><a href="{% url 'session_gallery' %}">Session</a></li>
              <li><a href="{% url 'project_gallery' %}">Project</a></li>
              <li><a href="{% url 'donor_gallery' %}">Donor</a></li>
              <li><a href="{% url 'kid_gallery' %}">Kid</a></li>
            </ul>
          </li>

            {% else %}
            <li class="mt">
            <a href="{% url 'signin' %}">
              <i class="fa fa-book"></i>
              <span>Sign In</span>
              </a>
            </ul>
          </li>
            {% endif %}
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
              <div class="row">
                  <div class="col-md-5 col-sm-5" >
            <div class="border-head">
              <h3>RECRUITMENT DETAILS</h3>
            </div>
                  </div>
                      <div class="col-md-6 col-sm-6 goright" >
            <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" data-url='{{ request.build_absolute_uri|safe }}'>
                <div class="row form-group">
                  <div class="col-md-3 col-sm-3 pull-right" >
                    <select id="year" name="value" class="form-control" style="text-align:center; padding: .375rem .75rem;">

                     </select>
                  </div>
                </div>
              </form>
                  </div>
                  </div>
             <div class="row">

              <div class="col-md-6 col-sm-6 mb" >
                <div class="blue-panel pn" style="height:350px;" >
                  <div class="blue-header">
                    <h5>RECEIVED APPLICATIONS METRICS</h5>
                  </div>
                  <h1 style="font-size:60px;"><i class="fa fa-file fa-3x" style="color:#2980b9;"></i></h1>
                  <p>+ <span id="m_app">{{m_app}}</span> NEW</p>
                  <footer>
                    <div class="centered">
                      <h3><i class="fa fa-trophy"></i> <span id="t_app">{{t_app}}</span></h3>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
              <div class="col-md-6 col-sm-6 mb">
                <div class="blue-panel pn"  style="height:350px;">
                  <div class="blue-header" style="margin-bottom:0px;">
                    <h5>NO. OF RECRUITS ROLE-WISE</h5>
                  </div>
                    <div class="panel-body" style="padding:0px;" >
                  <div id="graph1">
              <canvas id="rec_role" height="300" width="500" style="margin: 0px auto;"></canvas>
                </div>
                </div>
                </div>
                <!-- /grey-panel -->
              </div>


            </div>
            <!--custom chart end-->
            <div class="row mt">
              <!-- SERVER STATUS PANELS -->
              <div class="col-md-4 col-sm-4 mb" >
                <div class="blue-panel pn" style="height:350px;">
                  <div class="blue-header">
                    <h5>PENDING APPLICATIONS METRICS</h5>
                  </div>
                  <h1 class="mt" style="font-size:60px;"><i class="fa fa-file fa-3x" style="color:#2980b9;"></i></h1>
                  <p>+ <span id="pm_app">{{pm_app}}</span> NEW</p>
                  <footer>
                    <div class="centered">
                      <h3><i class="fa fa-exclamation-triangle" style="color:red;"></i> <span id="pt_app">{{pt_app}}</span></h3>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
              <div class="col-md-4 col-sm-4 mb" >
                <div class="blue-panel pn" style="height:350px;">
                  <div class="blue-header">
                    <h5>APPROVED APPLICATIONS METRICS</h5>
                  </div>
                  <h1 class="mt" style="font-size:60px;"><i class="fa fa-file fa-3x" style="color:#2980b9;"></i></h1>
                  <p>+ <span id="am_app">{{am_app}}</span> NEW</p>
                  <footer>
                    <div class="centered">
                      <h3><i class="fa fa-check-square-o" style="color:green;"></i> <span id="at_app">{{at_app}}</span></h3>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
                <div class="col-md-4 col-sm-4 mb" >
                <div class="blue-panel pn" style="height:350px;">
                  <div class="blue-header">
                    <h5>IN-PROCESS APPLICATIONS METRICS</h5>
                  </div>
                  <h1 class="mt" style="font-size:60px;" ><i class="fa fa-file fa-3x" style="color:#2980b9;"></i></h1>
                  <p>+ <span id="im_app">{{im_app}}</span> NEW</p>
                  <footer>
                    <div class="centered">
                      <h3 ><i class="fa fa-search" style="color:orange;"></i> <span id="it_app">{{it_app}}</span></h3>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
              <!-- /col-md-4-->
              <!-- /col-md-4 -->
              <!-- /col-md-4 -->
            </div>

            <!-- /row -->
            <!-- /row -->
          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->
          <div class="col-lg-3 ds">
            <!--COMPLETED ACTIONS DONUTS CHART-->
                <!-- blue PANEL - TOP USER -->
            <!--new earning end-->
            <!-- RECENT ACTIVITIES SECTION -->

            <!-- USERS ONLINE SECTION -->
            <div class="blue-panel pn mb mt" style="height:100%;margin-top:50px;">
                  <div class="blue-header" style="margin-bottom:0px;">
                <h5>PENDING APPLICATIONS</h5>
                  </div>
                      <div style="overflow:auto; height:300px;">
            <!-- First Member -->
                        {% for p in p_list %}
            <div class="desc">
              <div class="details" style="width:100%;">
                <h5 style="color:#2980b9;margin:2px 5px;" class="pull-right" >{{p.fields.role}}</h5>
                <h4 style="margin:2px 5px;font-size:16px;" class="pull-left">{{p.fields.name}}</h4>

              </div>
              <muted style="margin:0px 5px;" class="pull-left" >{{p.fields.timestamp|convert_iso|date:"j M" }}</muted>
              <select id="{{p.pk}}" name="value" class="pull-right pstatus"  style="text-align:center; padding: .375rem .75rem;">
                <option value="{{p.fields.status}}">{{p.fields.status}}</option>
                <option value="In-Process">In-Process</option>
                <option value="Approved">Approved</option>
              </select>

            </div>
                        {% endfor %}
            <!-- Second Member -->
                      </div>
              </div>
            <!-- Fourth Member -->
            <!-- CALENDAR-->
            <div class="blue-panel pn mb" style="height:100%;">
                  <div class="blue-header" style="margin-bottom:0px;">
                <h5>IN-PROCESS APPLICATIONS</h5>
                  </div>
                      <div style="overflow:auto; height:300px;">
            <!-- First Member -->
            {% for p in i_list %}
            <div class="desc">
              <div class="details" style="width:100%;">
                <h5 style="color:#2980b9;margin:2px 5px;" class="pull-right" >{{p.fields.role}}</h5>
                <h4 style="margin:2px 5px;font-size:16px;" class="pull-left">{{p.fields.name}}</h4>

              </div>
              <muted style="margin:0px 5px;" class="pull-left" >{{p.fields.timestamp|convert_iso|date:"j M" }}</muted>
              <select id="{{p.pk}}" name="value" class="pull-right istatus"  style="text-align:center; padding: .375rem .75rem;">
                <option value="{{p.fields.status}}">{{p.fields.status}}</option>
                <option value="Approved">Approved</option>
              </select>
            </div>
                        {% endfor %}
                      </div>
              </div>
            <!-- Third Member -->

            <!-- / calendar -->
          </div>
          <!-- /col-lg-3 -->
        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
   <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!--common script for all pages-->
     <script src="{% static 'lib/common-scripts.js' %}"></script>
  <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
 <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
<script src="{% static 'lib/sparkline-chart.js' %}"></script>
    <script src="{% static 'lib/raphael/raphael.min.js' %}"></script>
  <script src="{% static 'lib/morris/morris.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
  <script src="{% static 'lib/fancybox/jquery.fancybox.js' %}"></script>
  <script type="application/javascript">
    $(document).ready(function() {

      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
<script type="text/javascript">
    $(function() {
      //    fancybox
      jQuery(".fancybox").fancybox();
    });
  </script>
<script>

    $(document).ready(function(){
     $.each({{year}},function(index, value)
        {
            $("#year").append('<option class="year" value=' + value + '>' + value + '</option>');
        });
        title = [false,""];
        chart({{r_role}},interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",{{r_role|length}}),[''],{{r_role_label|safe}},title,'pie','rec_role');
        $('#year').change(function(){
          $year = $("#year option:selected").text();

          $.ajax({
        type:"POST",
        url: "{% url 'rec_dashboard' %}",
        data:{year:$year},
        success: function(resp){
        idata = resp.i_list;
        pdata = resp.p_list;
        $('#m_app').text(resp.m_app);
        $('#t_app').text(resp.t_app);
        $('#im_app').text(resp.im_app);
        $('#it_app').text(resp.it_app);
        $('#am_app').text(resp.am_app);
        $('#at_app').text(resp.at_app);
        $('#pm_app').text(resp.pm_app);
        $('#pt_app').text(resp.pt_app);
        $('#rec_role').remove();
         $('#graph1').append('<canvas id="rec_role" height="300" width="500" style="margin:0 auto;"></canvas>');
         chart(resp.r_role,interpolateColors("rgb(18, 176, 226)", "rgb(52, 73, 94)",resp.r_role.length),[''],resp.r_role_label,title,'pie','rec_role');
        }
        });
        });
        });

  function chart(dat, bgcolor, d_label, label,title, type, id){
            if (type === 'line'){
                        var data = {
                            labels: d_label,
                            datasets: [{
                            data: dat,
                            borderColor:'#12b0e2',
                            }],
                        };
                        var opt = {
                layout: {
                padding: {
                    // Any unspecified dimensions are assumed to be 0
                    top: 25,
                }
},
                    responsive: false,
                    segmentShowStroke: false,
                     scales: {
        xAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
                display: false,
            },
            ticks: {
                    display: false,
                }
        }],
        yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
                display: false,
            },
            ticks: {
                    display: false //this will remove only the label
                }

        }]
        },
                     plugins: {
      datalabels: {
      align: "top",
      anchor: "center",
      offset: 1,
             }
          },
                    legend: {
                    display: false
                    },
                    maintainAspectRatio: true,
                    }
                        }
             else if (type === 'bar'){
                 var data = {
                            labels: d_label,
                            datasets: [{
                            label: label,
                            data: dat,
                            barThickness: 32,
                            backgroundColor:bgcolor,
                            }],
                        };
                        var opt = {
                         layout: {
                padding: {
                    // Any unspecified dimensions are assumed to be 0
                    top: 25,
                }
},
                    scales: {
        xAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
        }],
        yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            },

        }]
    },
    events: false,
    tooltips: {
        enabled: false
    },
    hover: {
        animationDuration: 0
    },
    plugins: {
      datalabels: {
        color: '#34495e',
             }
          },

                    responsive: false,
                    legend: {
                    display: false
                    },
                    title :{display: title[0],position:'bottom',text:title[1],fontSize:18,fontFamily:"Arial Rounded MT Bold",padding:15,fontColor:'rgb(52, 73, 94)'},
                    maintainAspectRatio: true,
                    }
             }
             else {
                var data = {
                            datasets: [{
                            data: dat,
                            backgroundColor: bgcolor,
                            borderColor:'#d0eff9',}],
                             labels: label
                        };
                        var opt = {
                    responsive: false,
                    segmentShowStroke: false,
                    legend: {
                    display: true,
                    position: 'top',
                    },
                     plugins: {
                      datalabels: {
                        formatter: (value, ctx) => {
                        let sum = 0;
                        let dataArr = ctx.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = (value*100 / sum).toFixed(0)+"%";
                        return percentage;
                        },
                    color: '#fff',
                        }
                    },
                    maintainAspectRatio: true,
                    }
             }

                    ctx = document.getElementById(id).getContext("2d")

                    var myDoughnut = new Chart(ctx,{type:type,data:data,options:opt});
                    }

function interpolateColor(color1, color2, factor) {
    if (arguments.length < 3) {
        factor = 0.5;
    }
    var result = color1.slice();
    for (var i = 0; i < 3; i++) {
        result[i] = Math.round(result[i] + factor * (color2[i] - color1[i]));
    }
    return result;
};
// My function to interpolate between two colors completely, returning an array
function interpolateColors(color1, color2, steps) {
    if (steps === 1){
      return ["rgb(18, 176, 226)"];
    }
    var stepFactor = 1 / (steps - 1),
        interpolatedColorArray = [];

    color1 = color1.match(/\d+/g).map(Number);
    color2 = color2.match(/\d+/g).map(Number);

    for(var i = 0; i < steps; i++) {
        interpolatedColorArray.push("rgb("+interpolateColor(color1, color2, stepFactor * i)+")");
    }

    return interpolatedColorArray;
};
</script>
<script>
  $(document).ready(function(){
  $('.pstatus').change(function(){
    $status = $(this).find('option:selected').text();
    $id = $(this).attr('id');
          $.ajax({
        type:"POST",
        url: "{% url 'rec_dashboard' %}",
        data:{id:$id, status:$status},
        success: function(resp){},
        });
        });
        $('.istatus').change(function(){
    $status = $(this).find('option:selected').text();
    $id = $(this).attr('id');
          $.ajax({
        type:"POST",
        url: "{% url 'rec_dashboard' %}",
        data:{id:$id, status:$status},
        success: function(resp){},
        });
        });
  });

</script>
{% endblock %}
</body>

</html>
